

@media only screen and (min-width: 1001px) {
    #detail-body {
        width: 77vw;
        height: fit-content;
        margin: 50px auto;
        display: flex;
    }

    #static-previews {
        width: 77vw;
        height: fit-content;
        
    }
}

@media only screen and (min-width: 426px) and (max-width: 1000px) {
    #detail-body {
        width: 77vw;
        height: fit-content;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
    }

    #detail-body .text-card {
        width: 77vw;
    }

    #detail-body .card-content {
        display: flex;
    }

    #project-background {
        display: flex;
        width: 77vw;
    }

    #static-previews {
        width: 77vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .static-preview {
        width: 77vw;
        height: 434px;
        margin: 20px auto;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #manage-static-1 {
        background-image: url('../images/tablet/image-manage-preview-1.jpg');
     }
     
     #manage-static-2 {
         margin-top: 35px;
         background-image: url('../images/tablet/image-manage-preview-2.jpg');
     }
     
     #bookmark-static-1 {
         background-image: url('../images/tablet/image-bookmark-preview-1.jpg');
     }
      
     #bookmark-static-2 {
         margin-top: 35px;
         background-image: url('../images/tablet/image-bookmark-preview-2.jpg');
     }
     
     #insure-static-1 {
         background-image: url('../images/tablet/image-insure-preview-1.jpg');
     }
      
     #insure-static-2 {
         margin-top: 35px;
         background-image: url('../images/tablet/image-insure-preview-2.jpg');
     }
     
     #fylo-static-1 {
         background-image: url('../images/tablet/image-fylo-preview-1.jpg');
     }
      
     #fylo-static-2 {
         margin-top: 35px;
         background-image: url('../images/tablet/image-fylo-preview-2.jpg');
     }

}

@media only screen and (min-width: 1001px) {
    #detail-body {
        width: 77vw;
        margin: 20px auto;
        display: flex;
        justify-content: space-between;
    }
    
    .text-card.reverse {
        width: 350px;
        height: 498px;
    }
    
    .link.button {
        margin-left: 0;
        width: 178px;
      }
    
    .project-background {
        display: flex;
        flex-direction: column;
        width: 635px;
    }
    
    #static-previews {
        display: flex;
        flex-direction: column;
    }
    
    .static-preview {
        width: 635px;
        height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #manage-static-1 {
       background-image: url('../images/desktop/image-manage-preview-1.jpg');
    }
    
    #manage-static-2 {
        margin-top: 35px;
        background-image: url('../images/desktop/image-manage-preview-2.jpg');
    }
    
    #bookmark-static-1 {
        background-image: url('../images/desktop/image-bookmark-preview-1.jpg');
    }
     
    #bookmark-static-2 {
        margin-top: 35px;
        background-image: url('../images/desktop/image-bookmark-preview-2.jpg');
    }
    
    #insure-static-1 {
        background-image: url('../images/desktop/image-insure-preview-1.jpg');
    }
     
    #insure-static-2 {
        margin-top: 35px;
        background-image: url('../images/desktop/image-insure-preview-2.jpg');
    }
    
    #fylo-static-1 {
        background-image: url('../images/desktop/image-fylo-preview-1.jpg');
    }
     
    #fylo-static-2 {
        margin-top: 35px;
        background-image: url('../images/desktop/image-fylo-preview-2.jpg');
    }
}

@media only screen and (max-width: 425px) {
    #detail-body {
        display: flex;
        flex-direction: column;
        width: 311px;
        margin: 20px auto;
    }

    .static-preview {
        width: 311px;
        height: 196px;
    }

    .project-background {
        width: 311px;
        height: fit-content;
    }

    #manage-static-1 {
        background-image: url('../images/mobile/image-manage-preview-1.jpg');
     }
     
     #manage-static-2 {
         margin-top: 35px;
         background-image: url('../images/mobile/image-manage-preview-2.jpg');
     }
     
     #bookmark-static-1 {
         background-image: url('../images/mobile/image-bookmark-preview-1.jpg');
     }
      
     #bookmark-static-2 {
         margin-top: 35px;
         background-image: url('../images/mobile/image-bookmark-preview-2.jpg');
     }
     
     #insure-static-1 {
         background-image: url('../images/mobile/image-insure-preview-1.jpg');
     }
      
     #insure-static-2 {
         margin-top: 35px;
         background-image: url('../images/mobile/image-insure-preview-2.jpg');
     }
     
     #fylo-static-1 {
         background-image: url('../images/mobile/image-fylo-preview-1.jpg');
     }
      
     #fylo-static-2 {
         margin-top: 35px;
         background-image: url('../images/mobile/image-fylo-preview-2.jpg');
     }

     #static-preview {
         width: 311px;
         height: 507px;
         margin-bottom: 20px;
     }
}